.output-container {
  /* background-color: #fff; */
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-section,
.post-section {
  width: 50%;
  align-content: start;
  flex: 1;
}

.postTitleBody {
  margin-top: 30px;
}

.postTitle {
  font-size: 50px;
}

.postBody {
  font-size: 30px;
  font-style: italic;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  /* border: 2px solid white; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 30px;

  border-radius: 20px;
  overflow: hidden;
}

.postBody p {
  z-index: 1;
  background: #0c121a;
  border-radius: 16px;
  padding: 15px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.postBody::after,
.postBody::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    transparent 5%,
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #a845ff
  );
  inset: 28px;
  border-radius: 20px;
  animation: 3s spin linear infinite;
}

.postBody::before {
  filter: blur(0.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.userinfo {
  align-content: start;
}

.infoStyle {
  display: inline;
  font-weight: 900;
  font-size: 30px;
  padding-left: 10px;
}

.json-user-container::-webkit-scrollbar,
.json-post-container::-webkit-scrollbar {
  width: 5px; /* Or desired width */
}

.json-user-container::-webkit-scrollbar-thumb,
.json-post-container::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 10px;
}

.json-user-container,
.json-post-container {
  margin: 15px;
  width: 95%;
  max-height: 350px;
  height: 40%;
  overflow: auto;
}

.json-user-container:hover,
.json-post-container:hover {
  filter: drop-shadow(0 0 2em #7db59daa);
}
