.json-section {
  padding: 20px;
  margin-top: 40px;
  text-align: left;
}

.username {
  display: inline;
  font-weight: 900;
  font-size: 30px;
  padding-left: 10px;
}

.json-container {
  /* Retained from original code */
  width: 50%;
  max-height: 500px;
  scrollbar-width: none;
  border: 1px solid #ccc;
  /* Add these properties for limited height and scrolling */
  height: 40%;
  overflow-y: auto;
}
