.searchable-dd {
  position: relative; /* This is crucial for positioning the dropdown list */
  width: 100%; /* Adjust as needed */
  font-family: sans-serif;
}

.searchable-dd input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.title {
  padding: 20px;
  margin-top: 50px;
  font-size: 30px;
}

.input {
  width: 20px;
}

.dd-list {
  position: absolute; /* Positions the list relative to the container */
  top: 100%; /* Places the list directly below the input */
  left: 0;
  width: 100%;
  max-height: 200px; /* Limits the height and makes it scrollable */
  overflow-y: auto;
  list-style: none; /* Removes bullet points */
  margin: 0;
  padding: 0;
  background-color: #242424;
  border: 1px solid #ccc;
  border-top: none; /* Gives a cleaner look */
  border: none;
  z-index: 10; /* Ensures the dropdown appears on top of other content */
  scrollbar-width: none;
}

.dd-list li {
  padding: 3px 12px;
  border: none;
  cursor: pointer;
}

.dd-list li:hover {
  background-color: #f0f0f0;
  color: #242424;
}

.dd-list li.no-results {
  color: #888;
  cursor: default;
  font-style: italic;
}
